<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ThinkIt.Properties.Settings.Online_dbConnectionString" connectionString="Data Source=161.55.180.213;Initial Catalog=Online_db;User ID=angang;Password=angang" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
